
body {
    margin: 0;
}
.footer {
    
    background-color: #000;
    color: #fff;
    display: block;
    flex-direction: column;
    width: 100%;
    height: 300px;
    font-size: 13px;
    margin-top: auto;
    flex-shrink: 0;
    position: relative;
}

