body{
    margin: 0;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont;
    height: 100%;
}

html{height: 100%;}

.head-element {
    text-align: center;
    width: auto;
    height: 53px;
    margin-top: 7%;
    font-size: 1.25em;
}

a img {
    width: 230px;
}

.choice a {
    color: #0F70E6;
    text-decoration: none;
}

.custom-link img {
    margin-top: 5px;
}

.btn-upload {
    border: 1px solid transparent;
    border-radius: 9999px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    height: 44px;
    background-color: #0F70E6;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.custom-container {
    display: flex;
    align-items: center;
    padding: 10px;
    /* Set the desired padding */
    background-color: #F7F9FA;
    border: 1px rgb(165, 175, 184)768089;
    border-radius: 10px;
}

.custom-container img {
    width: 43px;
    height: 28px;
    margin-right: 10px;
}

.custom-container p {
    color: #768089;
    font-size: 14px;
    /* Set the desired font size */
    line-height: 1.2;
    margin: 0;
}


.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

.card-body {
    padding: 30px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-card-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-link.active {
    color: #000000;
    font-weight: bold;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 8px 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid;
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
}

.btn img {
    margin-right: 10px;
    width: 20px;
}

.img-logo,
.img-logo-fb {
    display: inline-block;
}

.oauth-login-button {
    text-align: center;
}

.btn-login {
    border-radius: 20px;
    margin-bottom: 10px;
}

.btn-login img {
    margin-bottom: -5px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    flex-grow: 1;
    margin: 0 10px;
}


.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 90%;
    padding: 8px 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.choice {
    font-size: 16px;
}

.custom-container p {
    font-size: 14px;
}

.txt-ctm {
    font-size: 12px;
}

.under-card {
    font-size: 14px;
}

.under-card a {
    text-decoration: none;
}

.under-card1 {
    margin-right: 250px;
}

.under-card2 {
    margin-right: 150px;
}

.under-card3 {
    margin-right: 185px;
}



.main-footer {
    background-color: #f8f9fa;
    /* Adjust the color as needed */
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-lg {
    flex: 1;
}

.head-element h2 {font-size: 40px;}

@media (max-width: 440px) {
    .under-card {
        display: none;
    }
}

@media (max-width: 720px) {
    .head-element {
        margin-top: 15%;
    }
}
