/* Sorry for anyone who try to read this I did a little bit of hard code cuz im burnout already */
body {
  margin: 0;
}

.headingrule {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

.first-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.second-div {
  display: flex;
  justify-content: space-between;
}

.third-div {
  flex: none;
  display: flex;
  align-items: center;
}

.custom-link {
  padding-left: 12%;
  outline: none;
}

.custom-link:focus,
.custom-link:focus-visible {
  outline: none;
  box-shadow: none;
}

.custom-link:focus-visible {
  border: 2px solid #007bff;
}

.custom-link {
  border-radius: 0.375em;
}

.menu-list {
  flex-grow: 1 !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  gap: 31px;
}

.menu-list a {
  color: #454545;
  text-decoration: none;
}

.menu-list a:hover {
  color: #ccb483;
  text-decoration: none;
}

ul.login {
  gap: 32px;
  font-family: "Canva Sans", "Open Sans", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

.focus-visible:outline-none {
  outline: none;
}

.login {
  display: flex;
  flex: none;
  gap: 4px;
  align-items: center;
  margin: 0;
  color: #454545;
  padding-right: 10px;
}

.signup {
  border: 1px solid transparent;
  border-radius: 9999px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: "Canva Sans", "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  height: 44px;
  background-color: #edf0f2;
  color: #454545;
}

.signup:hover {
  background-color: gray;
}

.signup:active {
  background-color: lightgray;
  transform: scale(0.99);
  color: #454545;
}

.signup:focus {
  outline: 2px solid lightgray;
}

.signup.focus-visible::before {
  display: inline-flex;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  pointer-events: none;
}

.prism {
  position: absolute;
}

.pricing {
  display: flex;
  align-items: center;
}

.login li a {
  text-decoration: none;
  color: #454545;
}

.realLogin:hover {
  color: #ccb483;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: white;
  display: none;
  color: black;
  padding: 16px;
  font-size: 50px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 2;
}

.dropdown:hover .dropdown-content a:hover {
  color: #ccb483;
}

.dropdown:hover .dropbtn {
  color: #ccb483;
}


@media (max-width: 1279px) {

  .menu-list,
  .login {
    display: none !important;
  }

  .dropbtn {
    display: flex !important;
    color: black;
    padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }

  .dropbtn {
    display: flex !important;
  }
}

@media (max-width: 750px) {
  .RemoveBg {
    margin-top: 40%;
  }
}

@media (min-width: 1280px) {
  .third-div {
    margin-right: 8px !important;
  }

  .menu-list {
    display: flex !important;
    font-family: "Canva Sans", "Open Sans", sans-serif;
    font-size: 16px;
  }
}